//
// DISCLAIMER:
// Do not change this file because it is core styling.
// Customizing core files will make updating Atlas much more difficult in the future.
// To customize any core styling, copy the part you want to customize to styles/web/sass/app/ so the core styling is overwritten.
//

/* ==========================================================================
   Header

   Default Mendix Mobile Header
========================================================================== */

.mx-header {
    position: relative;
    z-index: 100;
    display: flex;
    width: 100%;
    height: $m-header-height;
    color: $m-header-color;
    border-bottom: 1px solid $border-color-default;
    background-color: $m-header-bg;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);

    // Content magic
    .mx-link {
        @include transition();
        display: flex;
        align-items: center;
        align-self: stretch;
        text-decoration: none;

        .glyphicon {
            font-size: 23px;
        }

        &:active {
            color: $link-hover-color;
        }
    }

    .mx-link,
    .btn,
    img {
        padding: 0 8px;
    }
}

.mx-header-left,
.mx-header-right {
    display: flex;
    align-items: center;
    flex-basis: 25%;
    max-width: 25%;

    .mx-placeholder {
        display: flex;
        align-items: center;
    }
}

.mx-header-left {
    order: 1;

    .mx-placeholder {
        justify-content: flex-start;
    }
}

.mx-header-center {
    display: inline-flex;
    overflow: hidden;
    align-items: center;
    flex: 1;
    justify-content: center;
    order: 2;
    color: #EEEEEE;

    .mx-title {
        overflow: hidden;
        margin: 0;
        text-overflow: ellipsis;
        color: $m-header-color;
        font-size: $m-header-title-size;
    }
}

.mx-header-right {
    order: 3;

    .mx-placeholder {
        justify-content: flex-end;
    }
}


// RTL support
body[dir='rtl'] {
    .mx-header-left {
        order: 3;
    }

    .mx-header-right {
        order: 1;
    }
}
