//
// DISCLAIMER:
// Do not change this file because it is core styling.
// Customizing core files will make updating Atlas much more difficult in the future.
// To customize any core styling, copy the part you want to customize to styles/web/sass/app/ so the core styling is overwritten.
//
/* ==========================================================================
   Listview

   Default Mendix Listview Widget. The list view shows a list of objects arranged vertically. Each object is shown using a template
========================================================================== */
.mx-listview {

    /* Load more button */
    & > .btn {
        width: 100%;
        margin: 10px auto;
    }

    & > ul {
        margin: 0;
        padding: 0;
        list-style: none;

        .mx-listview-empty {
            text-align: center;
            color: #999999;
            border-style: none;
            background-color: transparent;
        }

        & > li {
            @include transition();
            padding: $listview-padding-top $listview-padding-right $listview-padding-bottom $listview-padding-left;
            border: 0 solid $grid-border-color {
                top-width: 1px;
            }
            background-color: $grid-bg;

            &:last-child {
                border-bottom: 1px solid $grid-border-color;
            }

            &:nth-child(2n + 1) {
                background-color: $grid-bg;
            }

            &:hover,
            &:focus,
            &:active {
                background-color: $grid-bg-hover;
            }

            &.selected {
                background-color: $grid-bg-selected;
            }
        }
    }

    .mx-layoutgrid {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }
}

// Search bar
.mx-listview-searchbar {
    display: flex;
    margin-bottom: $gutter-size;

    .btn {
        margin-left: $spacing-small;
    }
}

.mx-listview-clickable ul li {
    cursor: pointer;
}

.mx-listview-loading {
    padding: 10px;
    text-align: center;
    line-height: 0;
}

.mx-listview-selection {
    display: table-cell;
    padding: 0 15px 0 5px;
    vertical-align: middle;
}

.mx-listview-selectable .mx-listview-content {
    display: table-cell;
    width: 100%;
    vertical-align: middle;
}

.mx-listview .mx-table th,
.mx-listview .mx-table td {
    padding: 2px;
}

//== Phone specific
//-------------------------------------------------------------------------------------------------------------------//
.profile-phone .mx-listview {
    .mx-listview-searchbar {
        margin-bottom: 3px;
        box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);

        input {
            padding: 14px 15px;
            color: #555555;
            border-style: none;
            border-radius: 0;
            box-shadow: none;
        }

        .btn {
            padding: 14px 15px;
            color: inherit;
            border-style: none;
        }
    }

    & > ul > li {
        &:first-child {
            border-top: none;
        }
    }
}

[dir=rtl] {
    .mx-listview-selection {
        padding: 0 5px 0 15px;
    }

    .mx-listview-searchbar .btn {
        margin-right: $spacing-small;
        margin-left: 0;
    }
}
